$navbar-default-bg:#312312;
$light-orange:#ff8c00;
$navbar-default-color:$light-orange;

@import "bootstrap-mincer";
@import "bootstrap";

#logo{
    margin-top:10px;
    margin-bottom:10px;
    float: left;
    margin-right:10px;
    font-size:2em;
    color:#fff;
    text-transform:uppercase;
    letter-spacing:-1px;
    padding-top:9px;
    font-weight:bold;
}
#logo:hover{
    color: white;
    text-decoration: none;
}

body{
    padding-top:80px;
}

.nav_item{
    margin-left:10px;
    float:left;
    margin-top:20px;
}

.center{
    text-align:center;
}

.left {
    text-align:left;
    letter-spacing:.5px;
}

h1, h2, h3, h4 {
    line-height:1;
    font-size:1em;
    text-align:center;
}



